<h3>Rota for <%= @rota.procurement_area_name %></h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <% @rota.shifts.each do |shift| %>
      <th>
      <%= @rota.location_for_shift(shift).try(:name) %>
      </br>
      <%= shift.info %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rota.date_range.each do |date| %>
    <tr>
      <td><%= date.strftime("%A, %-d %b %Y") %></td>

      <% @rota.shifts.each do |shift| %>
      <td>
        <%= present_organisations(@rota.on_duty(date, shift)) %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
