<h2>Add members to <%= @procurement_area_membership.name %></h2>

<div class="members">
  <h3>Members</h3>
  <div class="grid-row">
    <div class="column-half">
      <p><strong>Current</strong></p>
      <% unless @procurement_area_membership.current_members.empty? %>
        <ul class="pick-list">
        <% @procurement_area_membership.current_members.each do |org| %>
          <li>
            <%= org.name %>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p>None</p>
      <% end %>
    </div>
    <div class="column-half">
      <p><strong>Eligible</strong></p>
      <% unless @procurement_area_membership.eligible_members.empty? %>
        <ul class="pick-list">
        <% @procurement_area_membership.eligible_members.each do |org| %>
        <li>
          <%= org.name %>
          <%= button_to "Add",
            procurement_area_memberships_path(
              procurement_area_id: @procurement_area_membership.id,
              membership_id: org.id
              )
            %>
        </li>
        <% end %>
        </ul>
      <% else %>
        <p>None available</p>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="locations">
  <h3>Locations</h3>
  <div class="grid-row">
    <div class="column-half">
      <p><strong>Current</strong></p>
      <% unless @procurement_area_membership.current_locations.empty? %>
      <ul class="pick-list">
        <% @procurement_area_membership.current_locations.each do |org| %>
        <li>
          <%= org.name %>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p>None</p>
      <% end %>
    </div>
    <div class="column-half">
      <p><strong>Eligible</strong></p>
      <% unless @procurement_area_membership.eligible_locations.empty? %>
      <ul class="pick-list">
        <% @procurement_area_membership.eligible_locations.each do |org| %>
        <li>
          <%= org.name %>
          <%= button_to "Add",
            procurement_area_memberships_path(
              procurement_area_id: @procurement_area_membership.id,
              membership_id: org.id
              )
            %>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p>None available</p>
      <% end %>
    </div>
  </div>
</div>
