<h3>Add members to <%= @procurement_area_membership.name %></h3>

<div class="members">
  <h4>Members</h4>
  <hr>
  <% @procurement_area_membership.eligible_members.each do |org| %>
  <div>
    <h4><%= org.name %></h4>

    <%= button_to "Add",
      procurement_area_memberships_path(
        procurement_area_id: @procurement_area_membership.id,
        membership_uid: org.uid,
        membership_type: org.type
        )
      %>
  </div>
  <% end %>
</div>

<div class="locations">
  <h4>Locations</h4>
  <hr>
  <% @procurement_area_membership.eligible_locations.each do |org| %>
  <div>
    <h4><%= org.name %></h4>

    <%= button_to "Add",
      procurement_area_memberships_path(
        procurement_area_id: @procurement_area_membership.id,
        membership_uid: org.uid,
        membership_type: org.type
        )
      %>
  </div>
  <% end %>
</div>
