<tr>
  <td><%= format_date_time(rota_generation_log_entry.start_time) %></td>
  <td><%= rota_generation_log_entry.user.name %></td>
  <td><%= generation_duration(rota_generation_log_entry) %></td>
  <td><%= pluralize(rota_generation_log_entry.total_slots, "slots") %></td>
  <%= content_tag(:td, class: "log-entry #{rota_generation_log_entry.status}") do
    rota_generation_log_entry.status.capitalize
  end %>
</tr>
