<%= form_for @organisation do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :organisation_type %>
    <%= form.select :organisation_type, options_for_organisation_type, prompt: "-- Select an organisation type --" %>
  </div>

  <div class="form-group">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="form-group">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <%= form.submit :class => 'button' %>
<% end %>
