<h2><%= @organisation.name %></h2>

<ul>
  <li><%= link_to "Edit", edit_organisation_path(@organisation) %></li>
  <li><%= link_to "Delete", organisation_path(@organisation), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong><%= t('organisation_type') %>:</strong>
  <%= organisation_type(@organisation) %>
</p>

<p>
  <strong><%= t('tel') %>:</strong>
  <%= @organisation.tel %>
</p>

<p>
  <strong><%= t('mobile') %>:</strong>
  <%= @organisation.mobile %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong><%= t('postcode') %>:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @organisation.email %>
</p>

