<div>
  <h2><%= shift.info %></h2>

  <%= link_to "Edit shift", edit_location_shift_path(shift.id) %>
  <%= link_to "Delete shift", location_shift_path(shift.id), method: :delete  %>

  <div>
    <h3>Number of law firms required per weekday</h3>

    <div>
      <%= link_to "Manage daily requirements for shift", edit_shift_requirement_path(shift.id) %>
    </div>

    <table>
      <thead>
        <tr>
        <% Shift::WEEKDAYS.each do |weekday| %>
          <th><%= weekday.to_s.humanize %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= shift.monday %></td>
          <td><%= shift.tuesday %></td>
          <td><%= shift.wednesday %></td>
          <td><%= shift.thursday %></td>
          <td><%= shift.friday %></td>
          <td><%= shift.saturday %></td>
          <td><%= shift.sunday %></td>
          <td><%= shift.bank_holiday %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
