<h2>Edit a shift</h2>

<%= form_for @location_shift, url: location_shift_path, method: :patch, html: { class: "inline-time-selects" } do |form| %>
  <%= form.hidden_field :organisation_id, value: @location_shift.organisation_id %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :starting_time %>
  <%= form.time_select :starting_time, minute_step: 15 %>

  <%= form.label :ending_time %>
  <%= form.time_select :ending_time, include_blank: true, minute_step: 15 %>

  <div>
    <%= form.submit "Update shift" %>
  </div>
<% end %>
