<h2>Add a new shift</h2>

<%= form_for @location_shift_form, url: location_shifts_path, html: { class: "inline-time-selects" } do |form| %>
  <%= form.hidden_field :location_uid, value: @location_shift_form.location_uid %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :starting_time %>
  <%= form.time_select :starting_time, minute_step: 15 %>

  <%= form.label :ending_time %>
  <%= form.time_select :ending_time, include_blank: true, minute_step: 15 %>

  <%= form.submit "Create shift" %>
<% end %>
