<h3>Daily Requirements</h3>

<%= form_for @shift, url: shift_requirement_path, method: :patch do |form| %>

  <%= form.label :monday %>
  <%= form.number_field :monday, step: 1, min: 0, value: @shift.monday %>

  <%= form.label :tuesday %>
  <%= form.number_field :tuesday, step: 1, min: 0, value: @shift.tuesday %>

  <%= form.label :wednesday %>
  <%= form.number_field :wednesday, step: 1, min: 0, value: @shift.wednesday %>

  <%= form.label :thursday %>
  <%= form.number_field :thursday, step: 1, min: 0, value: @shift.thursday %>

  <%= form.label :friday %>
  <%= form.number_field :friday, step: 1, min: 0, value: @shift.friday %>

  <%= form.label :saturday %>
  <%= form.number_field :saturday, step: 1, min: 0, value: @shift.saturday %>

  <%= form.label :sunday %>
  <%= form.number_field :sunday, step: 1, min: 0, value: @shift.sunday %>

  <%= form.label :bank_holiday %>
  <%= form.number_field :bank_holiday, step: 1, min: 0, value: @shift.bank_holiday %>

  <div>
    <%= form.submit "Update requirements" %>
  </div>
<% end %>
