
<h2><%= @procurement_area.name %></h2>

<ul>
  <li><%= link_to "Add procurement area member", new_procurement_area_membership_path(procurement_area_id: @procurement_area.id) %></li>
  <li><%= link_to "Manage rotas", procurement_area_rotas_path(@procurement_area) %></li>
  <li><%= link_to "Edit", edit_procurement_area_path(@procurement_area.id) %></li>
  <li><%= link_to "Delete", procurement_area_path(@procurement_area.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

<section class="members">
  <h3>Memberships</h3>
  <% unless @procurement_area.members.empty? %>
    <ul>
    <% @procurement_area.members.each do |member| %>
      <li><%= member.name %> - <%= link_to "Delete member", procurement_area_membership_path(procurement_area_id: @procurement_area.id, membership_id: member.id), method: :delete, data: { confirm: "Are you sure?" } %> </li>
    <% end %>
    </ul>
  <% else %>
    <p>None</p>
  <% end %>
</section>

<section class="locations">
  <h3>Locations</h3>
  <% unless @procurement_area.locations.empty? %>
    <ul>
    <% @procurement_area.locations.each do |location| %>
      <li>
        <%= location.name %> -
        <%= link_to "Manage shifts", location_shift_path(organisation_id: location.id) %>
        <%= link_to "Delete location", procurement_area_membership_path(procurement_area_id: @procurement_area.id, membership_id: location.id), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>None</p>
  <% end %>
</section>
